.tableBorder{
    padding: 8px 0 8px 0;
    height: 100%;
}
.tableCard{
    background-color: rgb(161, 221, 240);
    cursor: pointer;
}
.tableSplit{
    border:none;
    border-right:3px double rgb(21, 21, 46);
    padding-right: 8px;
}