html,
body,
#root {
    height: 100%;
}

body {
    margin: 0;
    width: 100% !important;
}

.ant-card-body {
    padding: 16px !important;
    zoom: 1;
}
.ant-card{
  border-radius: 4% !important;
}
.ant-pagination {
    text-align: center !important;
}